@import url(some-utils/css/main.css);
@import url(some-utils/css/layout.css);

.App {
  min-height: 100vh;
}

.Markdown > * + * {
  margin-top: 1em;
}

.DragableDiv {
  --size: 200px;
  width: var(--size);
  height: var(--size);
  background-color: slateblue;
}