@import url(some-utils/css/main.css);
@import url(some-utils/css/layout.css);
@import url(markdown.css);

.App {
  height: 100vh;
  padding: 32px;
  --primary-color: slateblue;
  --primary-color-light: #7e6eeb;
  --secondary-color: #00bbe1;
  --secondary-color-light: #12d8ff;
  touch-action: none;
}

.Frame {
  padding: 32px;
  border: solid 2px var(--primary-color);
}
.Frame.dragged {
  border-color: var(--secondary-color);
}

.DragableDiv {
  --size: 200px;
  width: var(--size);
  height: var(--size);
  background-color: var(--primary-color);
  transition: background .4s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
.DragableDiv.hovered {
  background-color: var(--primary-color-light);
  border: solid 2px var(--primary-color);
  border-radius: 8px;
  transition-duration: .1s;
}
.DragableDiv.dragged {
  background-color: var(--secondary-color-light);
  border: solid 2px var(--secondary-color);
  border-radius: 8px;
  transition-duration: .1s;
  /* box-shadow: #3336 4px 8px 16px; */
  box-shadow: #0001 8px 8px 0;
}
